@model IEnumerable<EIMS.Models.FileDetailsModel>

<table class="table table-bordered">
    <tr>
        <th class="col-md-4">
            @Html.DisplayNameFor(model => model.FileName)
        </th>

        <th class="col-md-2"></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FileName)
            </td>

            <td>
                @Html.ActionLink("Downlaod", "DownLoadFile", new { id = item.Id , internId = item.InternId})

            </td>
        </tr>
    }

</table> 
